.body_backgorund 
{
    background-image:url("https://c.tenor.com/ZYSYsmBaqHMAAAAC/fireworks-firework.gif");
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-width: 10px; 
  background-color: white;
  border-style: ridge;
  border-color: darkviolet;
}

